<div class="mt-2">
	<MudDivider Style="height:3px;" />
	<MudText Class="mt-2">Site - IASD.Sonoplastia ©2025. Todos os direitos reservados.</MudText>
	<MudImage Src="img/SevenSoftware.png" ObjectFit="ObjectFit.Fill" ObjectPosition="ObjectPosition.Center" style="display: block; margin: 0 auto;" Width="75" Height="75" />

</div>
