@page "/"
@inject HttpClient httpClient

<PageTitle>Home</PageTitle>

<div class="mt-5">
    <header class="mb-4">
        <MudText Typo="Typo.h4">Bem-vindo ao IASD Sonoplastia</MudText>
        <MudText>Deixe a sonoplastia da sua igreja de forma simples e eficiente.</MudText>
    </header>


    <main>
        <section class="mb-5">
            <MudText Typo="Typo.h4">Sobre o Projeto</MudText>
            <MudText>
                Este sistema foi desenvolvido para facilitar a sonoplastia da igreja.
            </MudText>
        </section>

        <section>
            <MudText Typo="Typo.h4">Recursos</MudText>
            <MudElement HtmlTag="ul" Class="ps-4">
                <MudElement HtmlTag="li">Provai e Vede</MudElement>
                <MudElement HtmlTag="li">Informativo</MudElement>
            </MudElement>

        </section>
    </main>
</div>

@code {

}
