@page "/"
@inject HttpClient httpClient

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <header class="mb-4">
        <h1 class="display-4">Bem-vindo ao IASD Sonoplastia</h1>
        <p class="lead">Deixe a sonoplastia da sua igreja de forma simples e eficiente.</p>
    </header>


    <main>
        <section class="mb-5">
            <h2>Sobre o Projeto</h2>
            <p>
                Este sistema foi desenvolvido para facilitar a sonoplastia da igreja.
            </p>
        </section>

        <section>
            <h2>Recursos</h2>
            <ul>
                <li>Provai e Vede</li>
                <li>Informativo</li>
            </ul>
        </section>
    </main>
</div>

@code {

}
