@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<div class="ms-2">
	<MudButton Href="/provaivede" Variant="Variant.Filled" Color="Color.Tertiary">Provai e Vede</MudButton>
	<MudButton Href="/informativo" Variant="Variant.Filled" Color="Color.Tertiary">Informativo</MudButton>

</div>
