@page "/"
@using System.Diagnostics

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<div class="ms-2">
	<MudButton Href="/provaivede" Variant="Variant.Filled" Color="Color.Tertiary">Provai e Vede</MudButton>
	<MudButton Href="/informativo" Variant="Variant.Filled" Color="Color.Tertiary">Informativo</MudButton>
	<MudButton OnClick="SaveGithub" Variant="Variant.Filled" Color="Color.Tertiary">Salvar no github</MudButton>
</div>

@code {
	async Task SaveGithub()
	{
		await Helpers.ProcessHelper.ExecuteInCmd([
				"cd ..",
				"git add GeneratorAPI/api/*",
				"git commit -m \"Add\"",
				"git push github-maurydev master"
			]);
	}
}